<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MyDB" connectionString="Server=whyfi8888.ddns.net,11433;Uid=team1;Pwd=team1;Database=TEAM1" />
  </connectionStrings>
  <appSettings>
    <add key="timer_Connect" value="1000"/>
    <add key="timer_Check" value="5000"/>
    <add key="timer_Read" value="300"/>
    <add key="timer_Ka" value="2000"/>
  </appSettings>
</configuration>