<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TUChair.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TUChair.Properties.Settings.TEAM1ConnectionString"
      connectionString="Data Source=whyfi8888.ddns.net,11433;Initial Catalog=TEAM1;Persist Security Info=True;User ID=team1;Password=team1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApiAddess" value="https://localhost:44314" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TUChair.Properties.Settings>
      <setting name="PortName" serializeAs="String">
        <value />
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value />
      </setting>
      <setting name="DataSize" serializeAs="String">
        <value />
      </setting>
      <setting name="Parity" serializeAs="String">
        <value />
      </setting>
      <setting name="Handshake" serializeAs="String">
        <value />
      </setting>
    </TUChair.Properties.Settings>
  </userSettings>
</configuration>